In [16]:
import os

base_dir = "../data/china-real-estate-demand-prediction/train/"

In [17]:
import pandas as pd

new_house_transactions = pd.read_csv(base_dir + 'new_house_transactions.csv')
new_house_transactions

,month,sector,num_new_house_transactions,area_new_house_transactions,price_new_house_transactions,amount_new_house_transactions,area_per_unit_new_house_transactions,total_price_per_unit_new_house_transactions,num_new_house_available_for_sale,area_new_house_available_for_sale,period_new_house_sell_through
0,2019-Jan,sector 1,52,4906,28184,13827.14,94,265.91,159.0,15904.0,3.78
1,2019-Jan,sector 2,145,15933,17747,28277.73,110,195.02,1491.0,175113.0,12.29
2,2019-Jan,sector 4,6,725,28004,1424.21,127,356.05,40.0,6826.0,5.95
3,2019-Jan,sector 5,2,212,37432,792.10,106,396.05,161.0,17173.0,83.95
4,2019-Jan,sector 6,5,773,15992,607.94,95,151.99,189.0,19696.0,14.27
...,...,...,...,...,...,...,...,...,...,...,...
5428,2024-Jul,sector 91,70,7921,40967,32450.06,113,463.57,2133.0,341192.0,51.82
5429,2024-Jul,sector 92,211,22084,13949,30804.74,105,145.99,5908.0,636696.0,34.76
5430,2024-Jul,sector 93,62,8136,27452,22335.30,131,360.25,1323.0,150862.0,27.74
5431,2024-Jul,sector 94,44,5078,26367,13389.41,115,304.30,2027.0,215821.0,38.62
5432,2024-Jul,sector 96,1,140,40079,561.19,140,561.19,1.0,195.0,1.39

In [18]:
new_house_transactions_nearby_sectors = pd.read_csv(base_dir + 'new_house_transactions_nearby_sectors.csv')
new_house_transactions_nearby_sectors

,month,sector,num_new_house_transactions_nearby_sectors,area_new_house_transactions_nearby_sectors,price_new_house_transactions_nearby_sectors,amount_new_house_transactions_nearby_sectors,area_per_unit_new_house_transactions_nearby_sectors,total_price_per_unit_new_house_transactions_nearby_sectors,num_new_house_available_for_sale_nearby_sectors,area_new_house_available_for_sale_nearby_sectors,period_new_house_sell_through_nearby_sectors
0,2019-Jan,sector 35,129.250000,13212.500000,21172.85714,27974.637500,102.224371,216.438201,2526.750000,302828.50000,21.910000
1,2019-Jan,sector 23,27.400000,2822.400000,47592.19459,13432.421000,103.007299,490.234343,390.600000,47866.60000,11.150000
2,2019-Jan,sector 80,81.285714,8670.000000,25508.56484,22115.925710,106.660808,272.076415,1124.285714,131539.71430,10.467143
3,2019-Jan,sector 53,28.500000,3428.833333,39242.77451,13455.693330,120.309941,472.129591,350.500000,43073.66667,15.613333
4,2019-Jan,sector 84,8.857143,1304.428571,62359.84558,8134.396429,147.274193,918.399597,207.400000,35174.00000,26.246000
...,...,...,...,...,...,...,...,...,...,...,...
5355,2024-Jul,sector 28,80.600000,8740.600000,44606.50070,38988.758000,108.444169,483.731489,997.000000,119107.00000,16.806000
5356,2024-Jul,sector 20,112.857143,11553.571430,24530.06244,28340.982860,102.373418,251.122633,2443.333333,273779.83330,23.688333
5357,2024-Jul,sector 56,44.250000,4935.250000,13346.77068,6586.965000,111.531073,148.857966,1307.250000,154501.50000,32.965000
5358,2024-Jul,sector 47,167.000000,31584.000000,27524.63193,86933.797500,189.125748,520.561662,1977.000000,232839.50000,33.417500
5359,2024-Jul,sector 48,50.500000,5489.666667,44323.73550,24332.253330,108.706271,481.826799,1072.333333,126778.50000,31.413333

In [19]:
pre_owned_house_transactions = pd.read_csv(base_dir + 'pre_owned_house_transactions.csv')
pre_owned_house_transactions

,month,sector,area_pre_owned_house_transactions,amount_pre_owned_house_transactions,num_pre_owned_house_transactions,price_pre_owned_house_transactions
0,2019-Jan,sector 35,548,33.200,6,605.839416
1,2019-Jan,sector 23,3376,9137.764,48,27066.836490
2,2019-Jan,sector 80,3804,8980.000,44,23606.729760
3,2019-Jan,sector 53,0,0.000,0,11301.439410
4,2019-Jan,sector 84,9941,51515.904,103,51821.651750
...,...,...,...,...,...,...
5355,2024-Jul,sector 28,3912,8799.000,51,22492.331290
5356,2024-Jul,sector 20,3325,6449.000,38,19395.488720
5357,2024-Jul,sector 56,1321,1905.000,17,14420.893260
5358,2024-Jul,sector 47,3421,4542.000,36,13276.819640
5359,2024-Jul,sector 48,1489,3621.000,17,24318.334450

In [20]:
pre_owned_house_transactions_nearby_sectors = pd.read_csv(base_dir + 'pre_owned_house_transactions_nearby_sectors.csv')
pre_owned_house_transactions_nearby_sectors

,month,sector,num_pre_owned_house_transactions_nearby_sectors,area_pre_owned_house_transactions_nearby_sectors,amount_pre_owned_house_transactions_nearby_sectors,price_pre_owned_house_transactions_nearby_sectors
0,2019-Jan,sector 1,6.750000,733.000000,1247.03800,17012.796730
1,2019-Jan,sector 2,64.181818,5339.000000,20880.24282,39108.902080
2,2019-Jan,sector 3,77.714286,7457.142857,17376.21486,23301.437550
3,2019-Jan,sector 4,57.666667,5109.666667,19021.15267,37225.819040
4,2019-Jan,sector 5,45.428571,3763.500000,15800.74143,41984.167470
...,...,...,...,...,...,...
5422,2024-Jul,sector 77,83.400000,7970.000000,16951.80000,21269.510660
5423,2024-Jul,sector 78,112.142857,10759.142860,16933.71429,15738.906450
5424,2024-Jul,sector 79,110.000000,11285.500000,11132.00000,9863.984759
5425,2024-Jul,sector 80,62.250000,6052.250000,9608.50000,15875.913920
5426,2024-Jul,sector 81,50.166667,4328.833333,11341.66667,26200.284910

In [21]:
land_transactions = pd.read_csv(base_dir + 'land_transactions.csv')
land_transactions

,month,sector,num_land_transactions,construction_area,planned_building_area,transaction_amount
0,2019-Jan,sector 74,0,0.0,0.0,0.0
1,2019-Jan,sector 35,0,0.0,0.0,0.0
2,2019-Jan,sector 23,0,0.0,0.0,0.0
3,2019-Jan,sector 80,0,0.0,0.0,0.0
4,2019-Jan,sector 53,0,0.0,0.0,0.0
...,...,...,...,...,...,...
5891,2024-Jul,sector 28,0,0.0,0.0,0.0
5892,2024-Jul,sector 20,0,0.0,0.0,0.0
5893,2024-Jul,sector 56,0,0.0,0.0,0.0
5894,2024-Jul,sector 47,0,0.0,0.0,0.0
5895,2024-Jul,sector 48,0,0.0,0.0,0.0

In [22]:
land_transactions_nearby_sectors = pd.read_csv(base_dir + 'land_transactions_nearby_sectors.csv')
land_transactions_nearby_sectors

,month,sector,num_land_transactions_nearby_sectors,construction_area_nearby_sectors,planned_building_area_nearby_sectors,transaction_amount_nearby_sectors
0,2019-Jan,sector 35,0.00,0.00,0.00,0.0
1,2019-Jan,sector 23,0.00,0.00,0.00,0.0
2,2019-Jan,sector 80,0.00,0.00,0.00,0.0
3,2019-Jan,sector 53,0.00,0.00,0.00,0.0
4,2019-Jan,sector 84,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...
5020,2024-Jul,sector 28,0.00,0.00,0.00,0.0
5021,2024-Jul,sector 20,0.00,0.00,0.00,0.0
5022,2024-Jul,sector 56,0.00,0.00,0.00,0.0
5023,2024-Jul,sector 47,0.25,4938.25,12345.75,14785.0
5024,2024-Jul,sector 48,0.00,0.00,0.00,0.0

In [25]:
def merge_similar_dfs(dfs: list, on: list):
    merged = dfs[0]
    for df in dfs[1:]:
        merged = pd.merge(merged,
                          df,
                          how = 'outer',
                          on = on)
    return merged
        

to_merge = [new_house_transactions, new_house_transactions_nearby_sectors, 
            pre_owned_house_transactions, pre_owned_house_transactions_nearby_sectors, 
            land_transactions, land_transactions_nearby_sectors]

month_sector_merged = merge_similar_dfs(to_merge, ['month', 'sector'])

In [ ]:
month_sector_merged

,month,sector,num_new_house_transactions,area_new_house_transactions,price_new_house_transactions,amount_new_house_transactions,area_per_unit_new_house_transactions,total_price_per_unit_new_house_transactions,num_new_house_available_for_sale,area_new_house_available_for_sale,...,amount_pre_owned_house_transactions_nearby_sectors,price_pre_owned_house_transactions_nearby_sectors,num_land_transactions,construction_area,planned_building_area,transaction_amount,num_land_transactions_nearby_sectors,construction_area_nearby_sectors,planned_building_area_nearby_sectors,transaction_amount_nearby_sectors
0,2019-Jan,sector 1,52.0,4906.0,28184.0,13827.14,94.0,265.91,159.0,15904.0,...,1247.03800,17012.79673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019-Jan,sector 2,145.0,15933.0,17747.0,28277.73,110.0,195.02,1491.0,175113.0,...,20880.24282,39108.90208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019-Jan,sector 4,6.0,725.0,28004.0,1424.21,127.0,356.05,40.0,6826.0,...,19021.15267,37225.81904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019-Jan,sector 5,2.0,212.0,37432.0,792.10,106.0,396.05,161.0,17173.0,...,15800.74143,41984.16747,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2019-Jan,sector 6,5.0,773.0,15992.0,607.94,95.0,151.99,189.0,19696.0,...,10070.51400,31455.61143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6427,2024-May,sector 89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
6428,2024-May,sector 95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
6429,2024-Jun,sector 95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
6430,2024-Jul,sector 89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
6431,2024-Jul,sector 95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [27]:
sector_POI = pd.read_csv(base_dir + 'sector_POI.csv')
sector_POI

,sector,sector_coverage,population_scale,residential_area,office_building,commercial_area,resident_population,office_population,number_of_shops,catering,...,medical_health_rehabilitation_institution_dense,medical_health_first_aid_center_dense,medical_health_blood_donation_station_dense,medical_health_disease_prevention_institution_dense,medical_health_general_hospital_dense,medical_health_clinic_dense,education_training_school_education_middle_school_dense,education_training_school_education_primary_school_dense,education_training_school_education_kindergarten_dense,education_training_school_education_research_institution_dense
0,sector 23,0.410668,113800,68,58,4,88000,36000,2398,597,...,2.430000e-05,0.000000e+00,0.0,0.000000e+00,7.290000e-06,2.550000e-05,1.220000e-06,6.080000e-06,0.000013,3.650000e-06
1,sector 80,0.426227,74388,23,9,0,37173,53683,837,277,...,1.340000e-06,0.000000e+00,0.0,1.910000e-07,1.150000e-06,5.740000e-07,3.830000e-07,3.830000e-07,0.000002,2.490000e-06
2,sector 84,0.448303,146800,136,62,1,118000,40000,2776,697,...,1.500000e-05,7.480000e-07,0.0,7.480000e-07,5.980000e-06,1.270000e-05,5.230000e-06,4.490000e-06,0.000010,5.230000e-06
3,sector 16,0.688514,1435300,2542,434,31,1023000,589000,62837,11222,...,1.493720e-04,0.000000e+00,0.0,7.470000e-05,9.960000e-05,3.609820e-04,2.490000e-05,4.980000e-05,0.000324,1.244770e-04
4,sector 27,0.366972,40600,24,22,1,22000,27000,805,226,...,4.580000e-06,0.000000e+00,0.0,0.000000e+00,3.660000e-06,9.150000e-07,0.000000e+00,9.150000e-07,0.000005,9.150000e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,sector 28,0.225501,22000,10,10,0,16000,8872,720,208,...,6.450000e-06,0.000000e+00,0.0,0.000000e+00,0.000000e+00,2.150000e-06,2.150000e-06,1.080000e-06,0.000004,0.000000e+00
82,sector 20,1.594698,1638500,895,70,0,1605000,75765,12265,3890,...,1.240000e-05,0.000000e+00,0.0,0.000000e+00,1.090000e-05,8.210000e-06,5.770000e-06,7.760000e-06,0.000018,0.000000e+00
83,sector 56,0.578083,530568,310,248,36,407489,208625,17777,4978,...,7.520000e-07,1.210000e-08,0.0,3.640000e-08,6.670000e-07,1.240000e-06,1.940000e-07,5.460000e-07,0.000001,9.710000e-08
84,sector 47,1.162938,3081545,1617,744,124,2827345,383408,78534,26812,...,5.570000e-05,0.000000e+00,0.0,0.000000e+00,2.480000e-05,6.190000e-05,0.000000e+00,3.770000e-05,0.000062,2.480000e-05
85,sector 48,0.141806,0,0,0,0,0,0,18,4,...,0.000000e+00,0.000000e+00,0.0,0.000000e+00,7.680000e-07,3.840000e-07,0.000000e+00,0.000000e+00,0.000000,3.840000e-07

In [28]:
core_data = pd.merge(month_sector_merged,
                     sector_POI,
                     how = 'left',
                     on = 'sector')

core_data

,month,sector,num_new_house_transactions,area_new_house_transactions,price_new_house_transactions,amount_new_house_transactions,area_per_unit_new_house_transactions,total_price_per_unit_new_house_transactions,num_new_house_available_for_sale,area_new_house_available_for_sale,...,medical_health_rehabilitation_institution_dense,medical_health_first_aid_center_dense,medical_health_blood_donation_station_dense,medical_health_disease_prevention_institution_dense,medical_health_general_hospital_dense,medical_health_clinic_dense,education_training_school_education_middle_school_dense,education_training_school_education_primary_school_dense,education_training_school_education_kindergarten_dense,education_training_school_education_research_institution_dense
0,2019-Jan,sector 1,52.0,4906.0,28184.0,13827.14,94.0,265.91,159.0,15904.0,...,1.126890e-04,0.0,0.0,8.600000e-07,4.090000e-05,3.780000e-05,1.550000e-05,2.840000e-05,6.320000e-05,1.380000e-05
1,2019-Jan,sector 2,145.0,15933.0,17747.0,28277.73,110.0,195.02,1491.0,175113.0,...,3.840000e-07,0.0,0.0,7.670000e-08,3.840000e-07,5.370000e-07,3.070000e-07,4.600000e-07,6.900000e-07,3.070000e-07
2,2019-Jan,sector 4,6.0,725.0,28004.0,1424.21,127.0,356.05,40.0,6826.0,...,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,2019-Jan,sector 5,2.0,212.0,37432.0,792.10,106.0,396.05,161.0,17173.0,...,3.020000e-05,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.020000e-05,0.000000e+00
4,2019-Jan,sector 6,5.0,773.0,15992.0,607.94,95.0,151.99,189.0,19696.0,...,4.640000e-07,0.0,0.0,0.000000e+00,6.860000e-07,7.600000e-07,9.270000e-08,3.340000e-07,5.750000e-07,1.110000e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6427,2024-May,sector 89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6428,2024-May,sector 95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.414490e-04,0.0,0.0,0.000000e+00,6.060000e-05,6.060000e-05,0.000000e+00,0.000000e+00,4.040000e-05,6.060000e-05
6429,2024-Jun,sector 95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.414490e-04,0.0,0.0,0.000000e+00,6.060000e-05,6.060000e-05,0.000000e+00,0.000000e+00,4.040000e-05,6.060000e-05
6430,2024-Jul,sector 89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6431,2024-Jul,sector 95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.414490e-04,0.0,0.0,0.000000e+00,6.060000e-05,6.060000e-05,0.000000e+00,0.000000e+00,4.040000e-05,6.060000e-05

In [29]:
city_indexes = pd.read_csv(base_dir + 'city_indexes.csv')
city_indexes

,city_indicator_data_year,year_end_registered_population_10k,total_households_10k,year_end_resident_population_10k,year_end_total_employed_population_10k,year_end_urban_non_private_employees_10k,private_individual_and_other_employees_10k,private_individual_ratio,national_year_end_total_population_10k,resident_registered_ratio,...,internet_broadband_access_ratio,number_of_industrial_enterprises_above_designated_size,total_current_assets_10k,total_fixed_assets_10k,main_business_taxes_and_surcharges_10k,total_fixed_asset_investment_10k,real_estate_development_investment_completed_10k,residential_development_investment_completed_10k,science_expenditure_10k,education_expenditure_10k
0,2017,897.87,295.0211,1449.84,862.33,329.17,708.0004,0.821032,139008,1.614755,...,0.580841,4664,96779199,39013240.0,4012517.0,NaN,27028935.0,17694861.0,1712569.0,4043335.0
1,2018,927.69,305.9851,1490.44,1102.36,348.65,753.7146,0.683728,139538,1.606614,...,0.586586,4675,99067099,NaN,4297060.0,NaN,27019323.0,17466618.0,1636655.0,4408209.0
2,2019,953.72,313.8455,1530.59,1125.89,400.22,725.6720,0.644532,140005,1.604863,...,0.593287,5804,110643480,39934058.0,4862051.0,NaN,31022573.0,20870742.0,2439456.0,5239743.0
3,2020,985.11,322.1068,1874.03,1158.01,419.36,738.6462,0.637858,141212,1.902356,...,0.629148,6208,123664111,NaN,NaN,NaN,NaN,NaN,2241321.0,5585916.0
4,2021,1011.53,329.7224,1881.06,1163.44,426.94,736.5017,0.633038,141260,1.859619,...,0.686762,6757,142064810,NaN,NaN,NaN,NaN,NaN,2012478.0,5890857.0
5,2022,1034.91,336.1935,1873.41,1119.82,424.90,694.9159,0.620560,141175,1.810215,...,0.736798,6878,159482630,NaN,NaN,NaN,NaN,NaN,1982136.0,6269391.0
6,2022,1034.91,336.1935,1873.41,1119.82,424.90,694.9159,0.620560,141175,1.810215,...,0.736798,6878,159482630,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
city_search_index = pd.read_csv(base_dir + 'city_search_index.csv')
city_search_index

         month keyword source  search_volume
0     2019-Jan      买房    PC端           1914
1     2019-Jan      买房    移动端           2646
2     2019-Jan   二手房市场    PC端            192
3     2019-Jan   二手房市场    移动端            204
4     2019-Jan     公积金    PC端           9160
...        ...     ...    ...            ...
4015  2024-Jul      限售    移动端             40
4016  2024-Jul      限购    PC端            203
4017  2024-Jul      限购    移动端            155
4018  2024-Jul      首付    PC端            739
4019  2024-Jul      首付    移动端           1471

[4020 rows x 4 columns]

In [38]:
df = core_data[['amount_new_house_transactions', 'amount_pre_owned_house_transactions']].dropna()

corr = df['amount_new_house_transactions'].corr(df['amount_pre_owned_house_transactions'])
corr

0.3630060629084939